<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B06DA92F1BD0E255003DA4F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B06DA9461BD0E256003DA4F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B06DA9511BD0E256003DA4F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
